@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img.skills__icon {
    width: 200px;
}

.nav {
    display: none;
}

.nav.open {
    display: block;
}

#burguer {
    cursor: pointer;
}

@media (min-width: 768px) {
    #burguer {
        display: none;
    }

    .nav {
        display: block;
    }
}
